<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="../static/bootstrap/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="../static/bootstrap/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 	<script src="../static/bootstrap/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	
		
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
<!-- Category -->
<!-- <div class="row"></div> -->
<br>
	<div class="row" align="center">
		<div class="col-sm col-md " style="margin-top:5px;">
			<div class="card" >
			  <img class="card-img-top" src="..." alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Amazon</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="/companies/amazon" name="" class="btn btn-primary" id="jobs">See Jobs</a>
			  </div>
			</div>
		</div>
		<div class="col-sm col-md " style="margin-top:5px;">
			<div class="card" >
			  <img class="card-img-top" src="..." alt="Deloitte">
			  <div class="card-body">
			    <h5 class="card-title">Deloitte</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="/companies/deloitte" name="Deloitte" class="btn btn-primary" id="jobs">See Jobs</a>
			  </div>
			</div>
		</div>			
		<div class="col-sm col-md " style="margin-top:5px;">
			<div class="card" >
			  <img class="card-img-top" src="..." alt="Cognizent">
			  <div class="card-body">
			    <h5 class="card-title">Cognizent</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="/companies/cognizent" name="Cognizent" class="btn btn-primary" id="jobs">See Jobs</a>
			  </div>
			</div>
		</div>
		<div class="col-sm col-md " style="margin-top:5px;">
			<div class="card" >
			  <img class="card-img-top" src="..." alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Accenture</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="/companies/accenture" name="" class="btn btn-primary" id="jobs">See Jobs</a>
			  </div>
			</div>
		</div>
	</div>
	<br>
	<div class="row" align="center">

		<!-- <div class="col-sm col-md ">
			<div class="card" >
			  <img class="card-img-top" src="..." alt="Deloitte">
			  <div class="card-body">
			    <h5 class="card-title">Deloitte</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="/companies/deloitte" name="Deloitte" class="btn btn-primary" id="jobs">See Jobs</a>
			  </div>
			</div>
		</div>
		<div class="col-sm col-md ">
			<div class="card" >
			  <img class="card-img-top" src="..." alt="Cognizent">
			  <div class="card-body">
			    <h5 class="card-title">Cognizent</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="/companies/cognizent" name="Cognizent" class="btn btn-primary" id="jobs">See Jobs</a>
			  </div>
			</div>
		</div> -->
	</div>

</div>
<!-- <button type="button" class="btn btn-success">Success</button> -->
</body>
<script type="text/javascript">
	// $("#jobs").click(function() {
	// 	alert(this.name)
	// });
// 	var settings = {
//   "async": true,
//   "crossDomain": true,
//   "url": "https://jobs2.deloitte.com/widgets",
//   "method": "POST",
//   "headers": {
//     "content-type": "application/json",
//     "cache-control": "no-cache",
//     "postman-token": "5efb33d8-40fe-fe94-74a6-c00024906375"
//   },
//   "processData": false,
//   "data": "{\"lang\":\"en_ui\",\"deviceType\":\"desktop\",\"country\":\"ui\",\"pageName\":\"Experienced-all-jobs\",\"ddoKey\":\"eagerLoadRefineSearch\",\"sortBy\":\"\",\"subsearch\":\"\",\"from\":0,\"jobs\":true,\"counts\":true,\"all_fields\":[\"city\",\"state\",\"category\",\"type\",\"organizationFunction\",\"country\"],\"pageType\":\"landingPage\",\"size\":\"1000\",\"rk\":\"l-experiencedalljobs\",\"clearAll\":false,\"jdsource\":\"facets\",\"isSliderEnable\":false,\"keywords\":\"\",\"global\":true,\"selected_fields\":{\"type\":[\"Experienced\"]},\"rkstatus\":true,\"s\":\"2\"}"
// }

// $.ajax(settings).done(function (response) {
//   console.log(response);
// });
</script>

</html>